<app-header title="Categorías"/>
<ion-content class="ion-padding">
  <ion-grid>
    @for (category of categoriesTree; track $index) {
    <ion-row class="ion-justify-content-center">
      @if (category.subCategorias.length > 0) {
      <ng-container>
        <ion-col size="6" sizeMd="6" class="ion-text-center" *ngFor="let subCategory of category.subCategorias">
          <ion-card [routerLink]="['/categoria-detalle', subCategory.Nombre | lowercase]" color="light">
            <ion-thumbnail [style.background]="'rgba(117, 24, 253, 1)'">
              <ion-icon  [name]="getIconForCategory(subCategory.Nombre)"></ion-icon>
            </ion-thumbnail>
            <ion-label>{{ subCategory.Nombre }}</ion-label>
          </ion-card>
        </ion-col>
      </ng-container>
    }
    </ion-row>
  }
  </ion-grid>
</ion-content>
