<!-- <ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Categorías
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
  @for (item of data; track $index) {
  <ion-item (click)="openCategory()">
    <ion-label>{{ data[0].Nombre }}</ion-label>
  </ion-item>
}
</ion-list>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Categorías
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ng-container *ngFor="let category of categoriesTree">
      <ion-item>
        <ion-label>{{ category.Nombre }}</ion-label>
      </ion-item>
      <ng-container *ngIf="category.subCategorias.length > 0">
        <ion-list *ngFor="let subCategory of category.subCategorias">
          <ion-item>
            <ion-label>{{ subCategory.Nombre }}{{ subCategory.Id }}</ion-label>
          </ion-item>
          <!-- <ng-container *ngIf="subCategory.subCategorias.length > 0">
            <ion-list *ngFor="let subSubCategory of subCategory.subCategorias">
              <ion-item>
                <ion-label>{{ subSubCategory.Nombre }}</ion-label>
              </ion-item>
            </ion-list>
          </ng-container> -->
        </ion-list>
      </ng-container>
    </ng-container>
  </ion-list>
</ion-content>
