ion-accordion {
  margin: 0 auto;
}

ion-accordion.accordion-expanding,
ion-accordion.accordion-expanded {
  width: calc(100% - 32px);
  margin: 16px auto;
  font-size: 16.5px;
  font-weight: 200;
}

ion-accordion.accordion-collapsing ion-item[slot='header'],
ion-accordion.accordion-collapsed ion-item[slot='header'] {
  --background: var(--ion-color-light);
  // --color: var(--ion-color-light-contrast);
  font-weight: 300;
  font-size: 17px;
}

ion-accordion.accordion-expanding ion-item[slot='header'],
ion-accordion.accordion-expanded ion-item[slot='header'] {
  --background: var(--ion-color-light);
  // --color: var(--ion-color-light-contrast);
  font-weight: 400;
  font-size: 17px;
}

.subcat{
  padding-top: 0.7rem;
}
